<launch>
    <param name="publish_rate" type="int" value="10"/>

    <!-- Launch Gazebo  -->
    <include file="$(find as_arm_gazebo)/launch/as_arm_world.launch"/>

    <!-- ros_control as arm launch file -->
    <include file="$(find as_arm_gazebo)/launch/as_arm_gazebo_states.launch"/>

    <!-- ros_control position control dof arm launch file -->
    <include file="$(find as_arm_gazebo)/launch/as_arm_gazebo_position.launch" />

    <!-- cube pose -->
    <node name="cube_link_pose" pkg="as_arm_gazebo" type="cube_link_pose.py" output="screen"/>


</launch>
