<launch>

    <arg name="debug" default="false" />

    <include file="$(find as_arm_moveit_config)/launch/move_group.launch">
        <arg name="publish_monitored_planning_scene" value="true"/>
    </include>

    <include file="$(find as_arm_moveit_config)/launch/moveit_rviz.launch">
        <arg name="config" value="true"/>
    </include>

    <node name="check_collision" pkg="as_arm_control" type="check_collision" output="screen"/>
</launch>
